[Unit]
Description=LocalSend
Documentation=https://localsend.org
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/localsend --hidden
Restart=on-failure
RestartSec=5
TimeoutStopSec=30
NoNewPrivileges=true
Slice=app.slice

[Install]
WantedBy=graphical-session.target
